* {
  font-family: Arial, Helvetica, sans-serif;
}

.circulo {
  margin: 10rem;
  width: 200px;
  height: 200px;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  border-radius: 100px;
}

.rectangulo {
  margin: 10rem;
  width: 400px;
  height: 200px;
  background-color: #090979;
}

.triangulo {
  margin: 10rem;
  width: 300px;
  height: 300px;
  border-right: 150px solid blueviolet;
  border-top: 150px solid green;
  border-left: 150px solid blue;
  border-bottom: 150px solid #f0ad4e;
}

.rombo {
  margin: 10rem;
  width: 200px;
  height: 200px;
  background-color: #e21313;
  transform: rotate(45deg);
}

.forms {
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
}
